@page
@model TNS_KPI.Areas.KPI_Accounting.Pages.File_UploadModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input type="text" asp-for="FileMonth" />
    <input type="file" asp-for="FileUpload" />
    <input type="submit" />
</form>
<div style="height:100px">

</div>
