@page
@model TNS_WebApp.Pages.Guide.IndexModel
@{

}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">HƯỚNG DẪN SỬ DỤNG</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Contacts</a></li>
                            <li class="breadcrumb-item active">User Grid</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="/Guide/Watching?id=1">
                            <img class="card-img-top img-fluid" src="~/images/guide/changeinfoUser.png" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Thay đổi thông tin cá nhân</h4>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="/Guide/Watching?id=2">
                            <img class="card-img-top img-fluid" src="~/images/guide/hrm.png" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Quản lý hồ sơ nhân sự</h4>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="/Guide/Watching?id=3">
                            <img class="card-img-top img-fluid" src="~/images/guide/login.png" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Quản lý User đăng nhập</h4>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <a href="/Guide/Watching?id=4">
                            <img class="card-img-top img-fluid" src="~/images/guide/congvan.png" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Quản lý  Công văn</h4>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
