@page
@model SignedOutModel
@{
    ViewData["Title"] = "Signed out"; 
    Layout = "";
}

<h1>@ViewData["Title"]</h1>
<p>
    You have successfully signed out.
    <div><a href="/Index">Login</a> </div>
</p>
