@page
@model TNS_KPI.Areas.KPI_BankAccount.Pages.ReportByYearModel
@{
}
<link href="~/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/libs/datatables/css/dataTables.min.css" rel="stylesheet" type="text/css" />
<div style="width:100%; margin:-20px 0 0 -20px">
    <div style="padding:5px; font-weight:bold; font-size:13px">
        <a href="~/Index" style="text-decoration:none; color:#4c4c4c">Home</a>
        <span class="uil-angle-double-right"></span>
        <a href="#" style="text-decoration:none; color:#4c4c4c">KPI</a>
        <span class="uil-angle-double-right"></span>
        <a href="~/KPI_BankAccount/Submenu" style="text-decoration:none; color:#4c4c4c">Nguồn vốn</a>
        <span class="uil-angle-double-right"></span>
        <span style="color:maroon">KPI Các bộ phận</span>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center text-primary" style="font-size:22px; font-weight:bold">
        KPI CÁC BỘ PHẬN
    </div>
</div>
<div class="row mb-2">
    <div class="col-4 text-end">
    </div>
    <div class="col-4 text-center text-primary">
        <div class="md-3">
            <div class="input-group">
                <select id="YearView" class="form-select w-auto">
                    @for (int i = 2020; i < 2025; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <button id="btn_Search" class="btn btn-primary" onclick="LV_LoadData_Ajax()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-4 text-end">
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="card">
            <canvas id="Chart_KPI_Month" height="350"></canvas>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="height:350px">
            <canvas id="Chart_KPI_Year" height="300"></canvas>
        </div>
    </div>
</div>
<div style="height:20px"></div>
<div style="width:100%;">
    <div class="row">
        <table id="LV_Datatable" class="table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; font-size:13px; ">
            <thead id="LV_DataHeader">
            </thead>

            <tbody id="LV_DataBody">
            </tbody>

        </table>
        <div id="LV_Waiting" style="display:none">
            <div class='text-center'>
                <div class='spinner-border text-primary m-5' role='status'>
                    <span class='sr-only'>Loading...</span>
                </div>
            </div>
        </div>
    </div>



</div>

<div>
    <div style="cursor:pointer" onclick="MessageLog_Show()">
        <i class="uil-apple"></i>
    </div>
    <div id="txt_MessageLog" class="row" style="display:none; padding:20px; ">
    </div>
</div>


<div id="Modal_Area">
    <div class="modal fade" id="Modal_Selected_Form" tabindex="-1" aria-labelledby="Modal_Selected_Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal_Selected_Title">Chọn nhân viên </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="Modal_Selected_Body" class="mb-3 row">
                        <div style="display:none">
                            <div id="Modal_Selected_lbl_ItemIndex"></div>
                            <div id="Modal_Selected_lbl_ItemKey"></div>
                            <div id="Modal_Selected_lbl_UnitKey"></div>
                        </div>

                    </div>
                    <div id="Modal_Selected_Panel"></div>
                    <div id="Modal_Selected_Waiting" style="display:none">
                        <div class='text-center'>
                            <div class='spinner-border text-primary m-1' role='status'>
                                <span class='sr-only'>Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal_PhuLucItem_Form" tabindex="-1" aria-labelledby="Modal_PhuLucItem_Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal_PhuLucItem_Title">Chi tiết  </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="Modal_PhuLucItem_Body" class="mb-3 row">
                        <div style="display:none">
                        </div>

                    </div>
                    <div id="Modal_PhuLucItem_Panel">
                        <table id="Modal_PhuLucItem_LV" class="table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead id="Modal_PhuLucItem_LV_Header">
                            </thead>

                            <tbody id="Modal_PhuLucItem_LV_Body">
                            </tbody>

                        </table>
                    </div>
                    <div id="Modal_PhuLucItem_Waiting" style="display:none">
                        <div class='text-center'>
                            <div class='spinner-border text-primary m-1' role='status'>
                                <span class='sr-only'>Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Required datatable js -->
<script src="~/libs/jquery/jquery.min.js"></script>
<script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="~/libs/datatables/js/dataTables.min.js"></script>
<script src="~/libs/chart.js/chartjs.js"></script>
<script>
    $(document).ready(function () {
        $('#YearView option')[3].selected = true;
    });

    function MessageLog_Show() {
        $("#txt_MessageLog").css("display", "");
    }

</script>

<script>
    // 2 va 14 la lay het
    var _DataView;
    var _IndexBegin = 2;
    var _IndexEnd = 8;
    function LV_LoadData_Ajax() {

        $("#LV_Waiting").css("display", "");
        $("#LV_DataBody").html("");

        var zYearView = $('#YearView').find(":selected").val();

        var zDataRequest = { "yearView": zYearView };

        $.ajax({
            type: 'POST',
            url: "/KPI_BankAccount/ReportByYear?handler=LoadData",
            data: JSON.stringify(zDataRequest),
            contentType: "application/json",
            dataType: "json",
        })
            .done(function (dataResponse) {
                $("#txt_MessageLog").html(JSON.stringify(dataResponse));
                _DataView = dataResponse;
                LV_Display_Data();
                Chart_Display_Month();
                Chart_Display_Year();
                $("#LV_Waiting").css("display", "none");
            })
            .fail(function (error) {
                alert('Error : ' + error.responseText);
            });
    }
    function LV_Display_Data() {
        var zYearView = $('#YearView').find(":selected").val();
        var zContent = "";
        var zHeader = "";
        var k = 0;
        var zStyle_RecordView = "";

        zHeader += "<tr>";
        zHeader += "<th colspan = '10' class='text-end'>";
        zHeader += "    <div class='btn-group' role = 'group' aria-label='' >";
        zHeader += "        <button type='button' class='btn btn-primary uil-angle-double-left' onclick='LV_DisplayDataPreNext(0)'> </button>";
        zHeader += "        <button type='button' class='btn btn-primary uil-angle-double-right' onclick='LV_DisplayDataPreNext(1)'></button>";
        zHeader += "    </div>";
        zHeader += "</th>";
        zHeader += "</tr>";
        zHeader += "<tr>";
        zHeader += "<th class='text-center bg-primary text-light align-middle' style='width:100px'>Mã</th>";
        zHeader += "<th class='text-center bg-primary text-light align-middle' style='width:250px'>Bộ Phận</th>";
        for (h = _IndexBegin; h < _IndexEnd; h++) {
            zHeader += "<th class='text-center bg-primary text-light'> Tháng " + (h - 1) + "</th>";
        }
        zHeader += "<th class='text-center bg-warning text-light'> Năm " + zYearView + "</th>";
        zHeader += "</tr>";
        var n = _DataView.length;
        for (i = 0; i < n; i++) {

            zContent += "       <tr>";
            zContent += "           <td style='" + zStyle_RecordView + "'>" + _DataView[i][0] + "</td>";
            zContent += "           <td style='" + zStyle_RecordView + "'>" + _DataView[i][1] + "</td>";
            for (j = _IndexBegin; j < _IndexEnd; j++) {
                zContent += "           <td class='text-end' style='" + zStyle_RecordView + "'>" + _DataView[i][j] + "</td>";
            }
            zContent += "           <td class='text-end' style='" + zStyle_RecordView + "'><b>" + _DataView[i][14] + "</b></td>";
            zContent += "       </tr>";

        }
        $("#LV_DataHeader").html(zHeader);
        $("#LV_DataBody").html(zContent);
        // $("#txt_MessageLog").text(zContent);

    }
    function LV_DisplayDataPreNext(action) {
        // alert(action);
        if (action == 1) {
            if (_IndexEnd < 14) {
                _IndexBegin++;
                _IndexEnd++;
            }

        }
        if (action == 0) {
            if (_IndexBegin > 2) {
                _IndexBegin--;
                _IndexEnd--;
            }
        }
        LV_Display_Data();
    }
</script>
<script>
    var _Labels = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];

    var Chart_KPI_Month = new Chart(document.getElementById('Chart_KPI_Month'), {
        type: 'line',
        data: {
            labels: _Labels,
            datasets: []
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Nguồn vốn',
                    padding: {
                        top: 5,
                        bottom: 5
                    }
                },
                legend: {
                    position: 'right'
                }
            }
        }
    });
    function Chart_Display_Month() {

        var n = _DataView.length;
        var zDataSet = [];

        for (i = 0; i < n; i++) {
            var zData = [];
            for (j = 0; j < 12; j++) {
                zData[j] = _DataView[i][j + 2].replaceAll(',', '');
            }

            zDataSet[i] = {
                label: _DataView[i][0],
                data: zData,
                borderWidth: 1,
                tension: 0.4
            };
        }

        //Chart_KPI.options.plugins.title.text = $("#KPI_ItemView option:selected").text() + DataReport[0].name;
        Chart_KPI_Month.data.datasets = zDataSet;
        Chart_KPI_Month.update();
    }
</script>
<script>
    var Chart_KPI_Year;
    function Chart_Display_Year() {

        var Log = "";
        if (Chart_KPI_Year != null)
            Chart_KPI_Year.destroy();
        var n = _DataView.length;
        var zLabels = [];
        var zData = [];
        for (i = 0; i < n; i++) {
            zData[i] = _DataView[i][14].replaceAll(',', '');
            zLabels[i] = _DataView[i][0];
        }

        Chart_KPI_Year = new Chart(document.getElementById('Chart_KPI_Year'), {
            type: "pie",
            data: {
                labels: zLabels,
                datasets: [{
                    data: zData
                }]
            }, options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Nguồn vốn năm',
                        padding: {
                            top: 5,
                            bottom: 5
                        }
                    },
                    legend: {
                        display: false,
                        position: "right"
                    }
                }
            }

        });

    }
</script>
