@page
@model TNS_KPI.Areas.KPI_BankAccount.Pages.SubmenuModel
@{
}
<div style="width:100%; margin:-20px 0 0 -20px">
    <div style="padding:5px; font-weight:bold; font-size:13px">
        <a href="~/Index" style="text-decoration:none; color:#4c4c4c">Home</a>
        <span class="uil-angle-double-right"></span>
        <a href="#" style="text-decoration:none; color:#4c4c4c">KPI</a>
        <span class="uil-angle-double-right"></span>
        <span style="color:maroon">Nguồn vốn </span>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xl-4">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                <b> Cá nhân</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> Danh sách khách hàng</h6>
                    </a>
                </li>



                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> </h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-receipt-alt md-2"></i> Nguồn vốn thực hiện</h6>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>

    <div class="col-md-4 col-xl-4">

        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                <b> Bộ phận </b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="~/KPI_BankAccount/CustomersOfDepartment" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> Danh sách Khách hàng</h6>
                    </a>
                </li>
                
                <li class="list-group-item">
                    <a href="~/KPI_BankAccount/ReportByYear" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-receipt-alt md-2"></i> Nguồn vốn thực hiện</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="~/KPI_BankAccount/ReportByMonth" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-receipt-alt md-2"></i> Tính kết quả nguồn vốn</h6>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>

    <div class="col-md-4 col-xl-4">

        <div class="card border-success">
            <div class="card-header bg-success text-white">
                <b>Thống kê báo cáo</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="~/KPI_BankAccount/CustomerReport" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i>Truy xuất thông tin khách hàng</h6>
                    </a>
                </li>
               
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> Dữ liệu IPCAS     </h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> </h6>
                    </a>
                </li>
              
            </ul>
        </div>
    </div>

</div>
<br />


