@page
@model TNS_KPI.Areas.KPI_Service.Pages.SubmenuModel
@{
}
<div style="width:100%; margin:-20px 0 0 -20px">
    <div style="padding:5px; font-weight:bold; font-size:13px">
        <a href="~/Index" style="text-decoration:none; color:#4c4c4c">Home</a>
        <span class="uil-angle-double-right"></span>
        <a href="#" style="text-decoration:none; color:#4c4c4c">KPI</a>
        <span class="uil-angle-double-right"></span>
        <span style="color:maroon">Dịch vụ </span>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                <b>Dữ liệu</b>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i> Thu dịch vụ</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i> Kiều hối</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> Phát hàng Thẻ </h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="~/KPI_Service/IssueBeautifulAccount" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> Tài khoản số đẹp</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="~/KPI_Service/IssueEMobile" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-users-alt md-2"></i> E-Mobile</h6>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="~/KPI_Service/IssueSMS" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i>SMS</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="~/KPI_Service/IssuePOS" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i>POS</h6>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-success">
            <div class="card-header bg-success text-white">
                <b>Báo cáo</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="~/KPI_Service/Department" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-receipt-alt md-2"></i> Số liệu theo chỉ tiêu</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="~/KPI_Service/Branch" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-receipt-alt md-2"></i> Số liệu theo đơn vị</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="~/KPI_Service/DepartmentByMonth" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-receipt-alt md-2"></i> Số liệu theo chỉ tiêu tháng</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-chart-line md-2"></i> </h6>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-secondary">
            <div class="card-header bg-secondary text-white">
                <b>Thông số</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-clipboard-notes md-2"></i>Danh sách các chỉ tiêu</h6>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i>&nbsp; </h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i> &nbsp;</h6>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" style="text-decoration:none; color:#313131">
                        <h6><i class="uil uil-angle-double-right md-2"></i> &nbsp;</h6>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
