@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //Layout = "_Layout01";
}
<div>
    <div class="row md-5">
        <div class="col-12 bg-primary text-light text-center">
            <h7><b> <a href="~/KPI_Service/Branch"> DỮ LIỆU KPI </a> - Dữ liệu đang rà soát và cập nhật</b></h7>
        </div>
    </div>
    <div style="height:30px"></div>
    <div id="LV_Waiting" style="display:none">
        <div class='text-center'>
            <div class='spinner-border text-primary m-1' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
            <div class="spinner-border text-secondary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-success m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div id="ViewChart">
        <div class="row">
            <div class="col-6">
                <div class="card" style="height:260px;">
                    <div style="font-size:14px; font-weight:bold; padding:5px;color:gray">Đơn vị : @Model.DepartmentName</div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <canvas id="Chart_S"></canvas>
                </div>
            </div>

        </div>
        <div style="height:20px"></div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <canvas id="Chart_A"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <canvas id="Chart_B"></canvas>
                </div>
            </div>
        </div>

        <div style="height:20px"></div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <canvas id="Chart_E"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <canvas id="Chart_F"></canvas>
                </div>
            </div>
        </div>

    </div>
    <div>

        <div style="cursor:pointer" onclick="MessageLog_Show()">
            <i class="uil-apple"></i>
        </div>
        <div id="txt_DepartmentKey" class="row" style="display:none; padding:20px">
            @Model.DepartmentKey
        </div>
        <div id="txt_MessageLog" class="row" style="display:none; padding:20px">
        </div>
    </div>
    <script src="~/libs/chart.js/chartjs.js"></script>
    <script src="~/libs/jquery/jquery.min.js"></script>

    <script>
        var _Labels = [
            'Q1/2022', 'Q2/2022', 'Q3/2022', 'Q4/2022',
            'Q1/2023', 'Q2/2023', 'Q3/2023', 'Q4/2023',
            'Q1/2024', 'Q2/2024', 'Q3/2024', 'Q4/2024'];

        $(document).ready(function () {
            LV_LoadData_Ajax();
        });
        function MessageLog_Show() {
            $("#txt_MessageLog").css("display", "");
        }
    </script>
    <script>

        function LV_LoadData_Ajax() {

            var zDepartmentKey = $('#txt_DepartmentKey').text();
            $("#LV_Waiting").css("display", "");
            $("#ViewChart").css("display", "none");

            var zDataRequest = { "departmentKey": zDepartmentKey };
            $.ajax({
                type: 'POST',
                url: "/KPI_PLAN/ChartDepartment?handler=LoadData",
                data: JSON.stringify(zDataRequest),
                contentType: "application/json",
                dataType: "json",
            })
                .done(function (dataResponse) {
                    $("#txt_MessageLog").html(JSON.stringify(dataResponse));
                    LV_DisplayData(dataResponse);
                    $("#LV_Waiting").css("display", "none");
                    $("#ViewChart").css("display", "");
                })
                .fail(function (error) {
                    alert('Error : ' + error.responseText);
                });

        }
        function LV_DisplayData(dataview) {
            var n = dataview.length;
            for (i = 0; i < n; i++) {
                switch (dataview[i].id) {
                    case "A":
                        _Data_A_KH = dataview[i].value_KH;
                        _Data_A_TH = dataview[i].value_TH;
                        break;
                    case "B":
                        _Data_B_KH = dataview[i].value_KH;
                        _Data_B_TH = dataview[i].value_TH;
                        break;

                    case "E":
                        _Data_E_KH = dataview[i].value_KH;
                        _Data_E_TH = dataview[i].value_TH;
                        break;
                    case "F":
                        _Data_F_KH = dataview[i].value_KH;
                        _Data_F_TH = dataview[i].value_TH;
                        break;
                    case "S":
                        _Data_S_KH = dataview[i].value_KH;
                        _Data_S_TH = dataview[i].value_TH;
                        break;
                }
            }

            DisplayChart_A();
            DisplayChart_B();
            DisplayChart_E();
            DisplayChart_F();
            DisplayChart_S();
        }
    </script>
    <script>

        var _Data_A_KH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var _Data_A_TH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var Chart_KPI_A = new Chart(document.getElementById('Chart_A'), {
            type: 'line',
            data: {
                labels: _Labels,
                datasets: [{
                    label: '# Kế hoạch',
                    data: _Data_A_KH,
                    borderWidth: 1
                }, {
                    label: '# Thực hiện',
                    data: _Data_A_TH,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'NGUỒN VỐN (Tỷ đồng)',
                        padding: {
                            top: 5,
                            bottom: 5
                        }
                    }
                }
            }
        });

        function DisplayChart_A() {
            for (i = 0; i < 12; i++) {
                if (_Data_A_KH[i] == 0)
                    _Data_A_KH[i] = null;

                if (_Data_A_TH[i] == 0)
                    _Data_A_TH[i] = null;
            }
            Chart_KPI_A.data.datasets[0].data = _Data_A_KH;
            Chart_KPI_A.data.datasets[1].data = _Data_A_TH;
            Chart_KPI_A.update();

        }
    </script>
    <script>
        var _Data_B_KH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var _Data_B_TH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var Chart_KPI_B = new Chart(document.getElementById('Chart_B'), {
            type: 'line',
            data: {
                labels: _Labels,
                datasets: [{
                    label: '# Kế hoạch',
                    data: _Data_B_KH,
                    borderWidth: 1
                }, {
                    label: '# Thực hiện',
                    data: _Data_B_TH,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'DƯ NỢ (Tỷ đồng)',
                        padding: {
                            top: 5,
                            bottom: 5
                        }
                    }
                }
            }
        });

        function DisplayChart_B() {
            for (i = 0; i < 12; i++) {
                if (_Data_B_KH[i] == 0)
                    _Data_B_KH[i] = null;

                if (_Data_B_TH[i] == 0)
                    _Data_B_TH[i] = null;
            }
            Chart_KPI_B.data.datasets[0].data = _Data_B_KH;
            Chart_KPI_B.data.datasets[1].data = _Data_B_TH;
            Chart_KPI_B.update();

        }
    </script>

    <script>
        var _Data_E_KH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var _Data_E_TH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var Chart_KPI_E = new Chart(document.getElementById('Chart_E'), {
            type: 'line',
            data: {
                labels: _Labels,
                datasets: [{
                    label: '# Kế hoạch',
                    data: _Data_E_KH,
                    borderWidth: 1
                }, {
                    label: '# Thực hiện',
                    data: _Data_E_TH,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Dịch vụ (Triệu đồng)',
                        padding: {
                            top: 5,
                            bottom: 5
                        }
                    }
                }
            }
        });
        function DisplayChart_E() {
            for (i = 0; i < 12; i++) {
                if (_Data_E_KH[i] == 0)
                    _Data_E_KH[i] = null;

                if (_Data_E_TH[i] == 0)
                    _Data_E_TH[i] = null;
            }
            Chart_KPI_E.data.datasets[0].data = _Data_E_KH;
            Chart_KPI_E.data.datasets[1].data = _Data_E_TH;
            Chart_KPI_E.update();

        }
    </script>
    <script>
        var _Data_F_KH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var _Data_F_TH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var Chart_KPI_F = new Chart(document.getElementById('Chart_F'), {
            type: 'line',
            data: {
                labels: _Labels,
                datasets: [{
                    label: '# Kế hoạch',
                    data: _Data_F_KH,
                    borderWidth: 1
                }, {
                    label: '# Thực hiện',
                    data: _Data_F_TH,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Phát triển Thẻ (Triệu đồng)',
                        padding: {
                            top: 5,
                            bottom: 5
                        }
                    }
                }
            }
        });
        function DisplayChart_F() {
            for (i = 0; i < 12; i++) {
                if (_Data_F_KH[i] == 0)
                    _Data_F_KH[i] = null;

                if (_Data_F_TH[i] == 0)
                    _Data_F_TH[i] = null;
            }
            Chart_KPI_F.data.datasets[0].data = _Data_F_KH;
            Chart_KPI_F.data.datasets[1].data = _Data_F_TH;
            Chart_KPI_F.update();

        }
    </script>
    <script>
        var _Data_S_KH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var _Data_S_TH = [null, null, null, null, null, null, null, null, null, null, null, null, null];
        var Chart_KPI_S = new Chart(document.getElementById('Chart_S'), {
            type: 'line',
            data: {
                labels: _Labels,
                datasets: [{
                    label: '# Kế hoạch',
                    data: _Data_S_KH,
                    borderWidth: 1
                }, {
                    label: '# Thực hiện',
                    data: _Data_S_TH,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Thang điểm',
                        padding: {
                            top: 5,
                            bottom: 5
                        }
                    }
                }
            }
        });
        function DisplayChart_S() {
            for (i = 0; i < 12; i++) {
                if (_Data_S_KH[i] == 0)
                    _Data_S_KH[i] = null;

                if (_Data_S_TH[i] == 0)
                    _Data_S_TH[i] = null;
            }
            Chart_KPI_S.data.datasets[0].data = _Data_S_KH;
            Chart_KPI_S.data.datasets[1].data = _Data_S_TH;
            Chart_KPI_S.update();

        }
    </script>

</div>
<script src="~/libs/jquery/jquery.min.js"></script>
<script>

    $(window).resize(function () {
        // DesignLayoutIndex();
    });
    function DesignLayoutIndex() {
        var zHeight = $(document).height();
        var zPanel_Left_Bottom = 250;

        //  $('#Panel_Right').width(zPanel_Right);
        // $('#Panel_Right').height(zHeight);
        //$('#Panel_Left').width(zWidth - zPanel_Right);
        $('#Panel_Left_Top').height(zHeight - zPanel_Left_Bottom);
        $('#Panel_Left_Bottom').height(zPanel_Left_Bottom);
    }
</script>